.pagination_list {
    display: flex;
    gap: 10px;
}
.pagination_item {
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
}
.page_active {
    background-color: red;
    color: white;
    transition: transform 200ms ease;
}
.page_active:hover {
    transform: scale(1.05);
}